.container {
  width: 428px;
  transition-duration: 200px;
  /* padding: 1rem; */
  transition-duration: 200ms;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.card {
  display: flex;
  gap: 1rem;
  width: 428px;
  height: 115px;
  cursor: pointer;
  border-radius: 6px;
}

.card:hover {
  background-color: rgb(31, 31, 31);
  transition-duration: 200ms;
}

.card_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 1rem 1rem 0;
}

.content_top {
  display: flex;
  gap: 1rem;
  /* align-items: center; */
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.title {
  font-size: 18ox;
  font-weight: 600;
  line-height: 25px;
  max-width: 300px;
}

.avatar_container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.avatar {
  border-radius: 50%;
}

.avatar_title {
  font-size: 14px;
}

.video_details {
  display: flex;
  justify-content: space-between;
  max-width: 282px;
  font-size: 14px;
  font-weight: 400;
}

.video_desc {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}